.hotel-home {
  padding-top: 70px;
  border: 1px solid black;
}
.hotel-staff {
  border: 1px solid black;
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
  text-align: right;
  padding-top: 30px;
  padding-right: 180px;
}
