.hotel-home {
  padding-top: 70px;  
}
.hotel-staff {
  /* border: 1px solid black; */
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
  text-align: right;
  padding-top: 30px;
  padding-right: 180px;
  font-weight: 600;
  text-decoration: underline;
  color: rgb(124, 213, 80);
}
