.home-body {
  /* background-image: url(./Home.jpg); */
}
.home-content {
  /* padding-top: 150px; */
  /* border: 1px solid black; */
}
#marquee-img {
  max-width: 400px;
  height: 250px;
  border: 1px solid black;
}
